*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
    background-size: cover;
    background-position: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;

}

.logo{
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.3s;
    
}

.navigation a:hover{
    color: red;
}

.navigation .icon{
    position: relative;
    top: 3px;
    cursor: pointer;
    right: -20px;
    color: #fff;
    transition: 0.3s;
}

.navigation .icon:hover{
    color: red;
}

.story{
    position: relative;
    right: 40px;
    width: 1000px;
    height: 450px;
    background: transparent;
    border: 2px solid white;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category{
    position: relative;
    right: -120px;
    top: -40px;
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.category button{
    position: relative;
    top: 50px;
    width: 130px;
    height: 50px;
    right: 140px;
    background: black;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    color: #fff;
    margin-left: 40px;
    cursor: pointer;
}

.category button:hover{
    text-decoration: underline;
    background: red;
    border: 2px solid #fff;
    color: white;
}
